# Ignoriert den gesamten data Ordner im Repo, damit die ca. 8000 Dateien nicht ins Repo hochgeladen werden
data/

# Verzeichnismetadaten File (macOS intern -> nicht im Repo benötigt
.DS_Store

# .p Dateien sind zu groß und sollen ignoriert werden
*.p